---
import Layout from '../layouts/Layout.astro';
import AdminPanel from '../components/AdminPanel';
---

<Layout title="管理面板 - 燕大终端" robots="noindex, nofollow">
  <main class="flex-1 py-8">
    <AdminPanel client:load />
  </main>
</Layout>
